NEXT_PUBLIC_SUPABASE_URL=https://iclnjxdwpmxpfanmxijt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImljbG5qeGR3cG14cGZhbm14aWp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ4Njg2MDUsImV4cCI6MjEwMDQ0NDYwNX0.8nHslwq9zAllXPQCTrw2W8woyhmvguPuT-7LIPxUcck
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImljbG5qeGR3cG14cGZhbm14aWp0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDg2ODYwNSwiZXhwIjoyMTAwNDQ0NjA1fQ.UURc5s4UcYTNH8GKTXNsUfoELUO7QU_XS_CHDTBQZOM
SUPABASE_SECRET_KEY=sb_secret_YOUR_KEY_HERE
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.iclnjxdwpmxpfanmxijt.supabase.co:5432/postgres
PORT=2567
